* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

/* Navbar */
.nav-bar {
  width: 100%;
  height: 55px;
  background-color: black;
}

i {
  display: block;
  margin: 5px 20px 5px 20px;
  padding: 15px;
  color: rgb(20, 109, 53);
  background-color: rgb(249, 244, 163);
}

.hero-image {
  width: 50%;
  height: 100vh;
  float: left;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.login {
  text-align: center;
  margin-top: 325px;
  font-weight: 400;
  font-style: normal;
}

.login h1 {
  font-family: "Road Rage", cursive;
  font-size: xx-large;
  background-color: rgba(165, 42, 42, 0.7);
  margin: 0 auto;
  padding: 0 20px;
  display: inline-block;
}

.login button i {
  color: rgb(59, 45, 45);
  background-color: transparent;
  padding: 0 4px;
  vertical-align: middle;
  line-height: 0.9;
  display: inline-block;
}

button[type="submit"] {
  background-color: rgb(36, 143, 77);
  color: black;
  width: auto;
  padding: 4px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  display: inline-block;
  max-width: 100px;
  line-height: 0.9;
  border: none;
}

button[type="submit"]:hover {
  background-color: rgb(137, 255, 180);
  transition: 0.3s ease-in;
  transform: scale(0.95);
}
