body {
  background-color: rgb(234, 247, 229);
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ddd2c3;
}

.navbar-links {
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.navbar-links a {
  color: #107428;
  text-decoration: none;
  font-weight: bold;
}

.navbar-logo {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navbar-logo img {
  height: 60px;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(186, 204, 179) 0%,
    #f5eee4 90%,
    white 100%
  );
  border: 8px double #107428;
  padding: 24px;
  margin: 34px auto;
  border-radius: 20px;
  max-width: fit-content;
}

.hero-content {
  margin: 0px 380px;
  text-align: center;
  max-width: 800px;
  min-width: 400px;
}

h1 {
  text-align: center;
  margin-top: 100px;
  color: rgb(150, 47, 47);
}

.sanpete-images {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  max-width: 1250px;
  margin: 0 auto;
}

.sanpete-images img {
  width: 100%;
  max-width: 33.33%;
  height: auto;
  object-fit: cover;
  border: 2px solid #107428;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.book-a-stay-content {
  margin: 0px 280px;
  margin-bottom: 150px;
  text-align: center;
  font-size: 22px;
  max-width: 1000px;
  min-width: 400px;
}

.footer {
  text-align: center;
  margin-bottom: 40px;
}

.contact-info div {
  margin: 4px 0;
}

.footer p {
  font-weight: bold;
}
